.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-background {
    z-index: -1;
    opacity: 0.8;
}

.ranking-chart,
.award-heading {
    background-color: rgba(28, 28, 28, 0.7);
}
